* {
    font-family: 'Press Start 2P', cursive;
}
body {
    margin: 0;
    overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
}

p {
    line-height: 2em;
}

#blurb {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1.2em;
    padding: 0.5em;
    margin: 1em;
}

#warning {
    color: red;
}

h5 {
    display: flex;
}

.linear-title {
    color: black;
    background: linear-gradient(to right, red 20%,  orange 30%, yellow 40%, green 50%, cyan 60%, blue 70%, violet 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

#welcome-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    flex-direction: column;
}

#splash-wrapper {
    /* position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%) */
}

#splash-graphic {
    /* box-sizing: border-box; */
    margin-bottom: 1%;
    width: 20rem;
    height: 20rem;
    /* background: red; */
    /* position: fixed; */
}

#running-score {
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    font-family: 'Press Start 2P', cursive;
    margin: 3rem;
    white-space: nowrap;
}

#hud {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
}

#shieldHUD {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "shieldText"
                         "img";
    bottom: 0;
    left: 0;
    margin: 1vh;
    margin-left: 3%;
    visibility: hidden;
    white-space: nowrap;
}

#shieldHUD h3 {
    grid-area: shieldText;
    color: white;
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
}

#shields {
    grid-area: img;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    margin: 6vh;
    box-sizing: border-box;
    border: 1px solid white;
    height: 2rem;
    width: 6rem;
    white-space: nowrap;
}

#scores-overlay {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    margin: 0.5rem;
    color: white;
    white-space: nowrap
}

#endGame {
    visibility: hidden;
    border: 1px solid black;
    background: rgba(0,0,255, .2);
    position: fixed;
    padding: 10vh;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    line-height: 2rem;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

#data-song {
    position: fixed;
    color: white;
    font-size: .6rem;
    text-align: center;
    left: 0%;
    top: 0%;
    margin: 1rem;
    white-space: nowrap;
}

#bar {
    background-color: blue;
    width: 100%;
    height: 100%
}

#danger{
    position:fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    border-radius: 50%;
    box-shadow: 0 0 5rem 5rem black inset;
    background: rgba(255,0,0,0.5)
}